Source: kdepim-runtime
Section: x11
Priority: optional
Maintainer: Debian/Kubuntu Qt/KDE Maintainers <debian-qt-kde@lists.debian.org>
Uploaders: Sune Vuorela <debian@pusling.com>,
           Fathi Boudra <fabo@debian.org>,
           Modestas Vainius <modax@debian.org>,
           George Kiagiadakis <kiagiadakis.george@gmail.com>,
           Maximiliano Curia <maxy@debian.org>,
Build-Depends: cmake (>= 3.0~),
               debhelper (>= 9),
               extra-cmake-modules (>= 5.35.0~),
               kross-dev (>= 5.23.0~),
               libboost-dev (>= 1.40.0-2),
               libkf5akonadi-dev (>= 4:17.08~),
               libkf5akonadicalendar-dev (>= 17.08~),
               libkf5akonadicontact-dev (>= 4:17.08~),
               libkf5akonadimime-dev (>= 4:17.08~),
               libkf5akonadinotes-dev (>= 4:17.08~),
               libkf5akonadiserver-dev (>= 17.08~),
               libkf5alarmcalendar-dev (>= 17.08~),
               libkf5calendarcore-dev (>= 4:17.08~),
               libkf5calendarutils-dev (>= 17.08~),
               libkf5codecs-dev (>= 5.35.0~),
               libkf5config-dev (>= 5.35.0~),
               libkf5configwidgets-dev (>= 5.35.0~),
               libkf5contacteditor-dev (>= 17.08~),
               libkf5contacts-dev (>= 17.08~),
               libkf5identitymanagement-dev (>= 17.08~),
               libkf5imap-dev (>= 17.08~),
               libkf5itemmodels-dev (>= 5.35.0~),
               libkf5kcmutils-dev (>= 5.12.0~),
               libkf5kdelibs4support-dev (>= 5.35.0~),
               libkf5holidays-dev (>= 17.08~),
               libkf5kio-dev (>= 5.35.0~),
               libkf5mailtransport-dev (>= 17.08~),
               libkf5mbox-dev (>= 17.08~),
               libkf5mime-dev (>= 17.08~),
               libkf5notifications-dev (>= 5.35.0~),
               libkf5notifyconfig-dev (>= 5.35.0~),
               libkf5pimcommon-dev (>= 4:17.08~),
               libkf5pimtextedit-dev (>= 17.08~),
               libkf5syndication-dev (>= 17.08~),
               libkf5textwidgets-dev (>= 5.35.0~),
               libkf5windowsystem-dev (>= 5.35.0~),
               libkolab-dev (>= 1.0.2),
               libkpimgapi-dev (>= 17.08~),
               libkpimkdav-dev (>= 17.08~),
               libqt5webchannel5-dev | libqt5webchannel-dev,
               libqt5webkit5-dev (>= 5.5.0~),
               libqt5xmlpatterns5-dev (>= 5.7.0~),
               libsasl2-dev,
               pkg-config,
               pkg-kde-tools (>= 0.12),
               qtbase5-dev (>= 5.7.0~),
               qtdeclarative5-dev (>= 5.4.0~),
               qtwebengine5-dev (>= 5.7.0~) | libqt5webengine5-dev,
               shared-mime-info (>= 0.30),
               xsltproc,
Standards-Version: 4.1.0
Homepage: http://pim.kde.org/
Vcs-Browser: https://anonscm.debian.org/git/pkg-kde/applications/kdepim-runtime.git
Vcs-Git: https://anonscm.debian.org/git/pkg-kde/applications/kdepim-runtime.git

Package: kdepim-runtime
Architecture: any
Depends: akonadi-server (>= 1.8),
         kio-ldap,
         kio-sieve,
         kio-smtp,
         ${misc:Depends},
         ${shlibs:Depends},
Replaces: akonadi-kde,
          kdepimlibs-kio-plugins,
          kf5-kdepimlibs-kio-plugins,
          libmaildir4,
Breaks: akonadi-kde,
        kdepimlibs-kio-plugins,
        kdepimlibs5 (<< 4:4.4),
        kf5-kdepimlibs-kio-plugins,
        libmaildir4,
Description: runtime components for Akonadi KDE
 This package contains Akonadi agents written using KDE Development Platform
 libraries.
 Any package that uses Akonadi should probably pull this in as a dependency.
 The kres-bridges is also parts of this package.
 .
 This package is part of the kdepim-runtime module.
